$primary-color: #3498db;
$secondary-color: #333;
$background-color: #f0f2f5;
$text-color: #333;
$navbar-bg-color: #2c3e50;
$navbar-text-color: #ecf0f1;
$footer-bg-color: #2c3e50;
$footer-text-color: #ecf0f1;
$danger-color: #d9534f;
$success-color: #5cb85c;
$font-color: #333;